<section class="section-column">
  <div class="section-header">
    <h2 class="section-title">{{ section.name }}</h2>
    <span class="section-ticket-count">{{ getLength() }}</span>
  </div>

  <div
    cdkDropList
    [id]="section.id.toString()"
    [cdkDropListData]="section.tickets"
    (cdkDropListDropped)="dropTicket($event)"
    class="section-tickets"
  >
    @for (ticket of section.tickets; track ticket.id) {
      <app-section-ticket cdkDrag [ticket]="ticket"></app-section-ticket>
    }
  </div>

  <button class="btn-add-ticket" (click)="openTicketSlideInPanel()">
    <span class="add-ticket-icon">+</span>
    Add Ticket
  </button>

  <app-ticket-form
    [users]="users"
    [isSlideInPanelOpen]="isSlideInPanelOpen"
    (ticketSlideInPanel)="closeTicketSlideInPanel()"
    (ticketEvent)="addTicket($event)"
  ></app-ticket-form>
</section>
