<div>
  <section class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Tickets</h2>
    <button class="primary-btn" (click)="openTicketSlideInPanel()">
      Create Ticket
    </button>
  </section>

  <section class="filters-section">
    <div>
      <input
        id="filter-search"
        type="text"
        placeholder="Search tickets..."
        class="filter-search"
        [(ngModel)]="ticketFilter.search"
        (input)="applyFilters()"
      />
    </div>

    <div class="filter-dropdowns">
      <div class="filter-group">
        <label for="filter-status">Status</label>
        <select
          id="filter-status"
          [(ngModel)]="ticketFilter.status"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (status of statusOptions; track status.id) {
            <option [value]="status.valueKey">{{ status.valueKey }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-priority">Priority</label>
        <select
          id="filter-priority"
          [(ngModel)]="ticketFilter.priority"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (priority of priorityOptions; track priority.id) {
            <option [value]="priority.valueKey">{{ priority.valueKey }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-assignee">Assignee</label>
        <select
          id="filter-assignee"
          [(ngModel)]="ticketFilter.assigneeId"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (user of users; track user.id) {
            <option [value]="user.id">{{ user.name }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-project">Project</label>
        <select
          id="filter-project"
          [(ngModel)]="ticketFilter.projectId"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (project of projectOptions; track project.id) {
            <option [value]="project.id">{{ project.title }}</option>
          }
        </select>
      </div>
    </div>
  </section>

  <section class="ticket-table-section">
    <table class="ticket-table">
      <thead>
        <tr>
          <th class="col-title">Title</th>
          <th class="col-default">Status</th>
          <th class="col-default">Priority</th>
          <th class="col-default">Assignee</th>
          <th class="col-default">Due Date</th>
          <th class="col-default">Project</th>
        </tr>
      </thead>
      <tbody>
        @for (ticket of filteredTickets; track ticket.id) {
          <tr>
            <td class="col-title">
              <div
                class="ticket-title hover:underline cursor-pointer"
                [routerLink]="['/tickets', ticket.id]"
              >
                {{ ticket.title }}
              </div>
            </td>
            @for (field of ticket.fields; track field.id) {
              @if (field.field.name.toLowerCase() === "status") {
                <td class="col-default">
                  <span
                    class="badge"
                    [class]="findOptionColorClass(field.field.id, field.value)"
                  >
                    {{ field.value }}
                  </span>
                </td>
              } @else if (field.field.name.toLowerCase() === "priority") {
                <td class="col-default">
                  <span
                    class="badge"
                    [class]="findOptionColorClass(field.field.id, field.value)"
                    >{{ field.value }}
                  </span>
                </td>
              } @else if (field.field.name.toLowerCase() === "assignee") {
                <td class="col-default">
                  @if (field.value) {
                    <app-user-icon [userName]="field.value"></app-user-icon>
                  }
                </td>
              } @else if (field.field.name.toLowerCase() === "due_date") {
                <td
                  class="col-default"
                  [class.error-color]="isOverdue(field.value)"
                >
                  @if (field.value) {
                    {{ formatDate(field.value) }}
                  }
                </td>
              }
            }
            <td class="col-default">
              <div
                class="ticket-title hover:underline cursor-pointer"
                [routerLink]="['/projects', ticket.project.id]"
              >
                {{ ticket.project.title }}
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </section>
  <app-ticket-form
    [isInProject]="true"
    [isSlideInPanelOpen]="isSlideInPanelOpen"
    (ticketSlideInPanel)="closeTicketSlideInPanel()"
    (ticketEvent)="addTicket($event)"
  ></app-ticket-form>
</div>
