<div>
  <section>
    <h2 class="text-2xl font-bold">Tickets</h2>
    <button class="primary-btn" (click)="openTicketSlideInPanel()">
      Create Ticket
    </button>
  </section>

  <section class="filters-section">
    <div>
      <input
        id="filter-search"
        type="text"
        placeholder="Search tickets..."
        class="filter-search"
        [(ngModel)]="ticketFilter.search"
        (input)="applyFilters()"
      />
    </div>

    <div class="filter-dropdowns">
      <div class="filter-group">
        <label for="filter-status">Status</label>
        <select
          id="filter-status"
          [(ngModel)]="ticketFilter.status"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (status of statusOptions; track status.value) {
            <option [value]="status.value">{{ status.label }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-priority">Priority</label>
        <select
          id="filter-priority"
          [(ngModel)]="ticketFilter.priority"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (priority of priorityOptions; track priority.value) {
            <option [value]="priority.value">{{ priority.label }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-assignee">Assignee</label>
        <select
          id="filter-assignee"
          [(ngModel)]="ticketFilter.assignee"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (assignee of assigneeOptions; track assignee.id) {
            <option [value]="assignee.id">{{ assignee.name }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <label for="filter-project">Project</label>
        <select
          id="filter-project"
          [(ngModel)]="ticketFilter.project"
          (change)="applyFilters()"
        >
          <option value="">All</option>
          @for (project of projectOptions; track project.id) {
            <option [value]="project.id">{{ project.title }}</option>
          }
        </select>
      </div>
    </div>
  </section>

  <section class="ticket-table-section">
    <table class="ticket-table">
      <thead>
        <tr>
          <th class="col-title">Title</th>
          <th class="col-default">Status</th>
          <th class="col-default">Priority</th>
          <th class="col-default">Assignee</th>
          <th class="col-default">Due Date</th>
          <th class="col-default">Project</th>
        </tr>
      </thead>
      <tbody>
        @for (ticket of filteredTickets; track ticket.id) {
          <tr>
            <td class="col-title">
              <div
                class="ticket-title hover:underline cursor-pointer"
                [routerLink]="['/tickets', ticket.id]"
              >
                {{ ticket.title }}
              </div>
            </td>
            <td class="col-default">
              <span
                class="badge"
                [ngClass]="{
                  'badge-todo': ticket.status === 'TODO',
                  'badge-in-progress': ticket.status === 'IN_PROGRESS',
                  'badge-done': ticket.status === 'DONE',
                }"
              >
                {{
                  ticket.status === "IN_PROGRESS"
                    ? "In Progress"
                    : ticket.status === "TODO"
                      ? "To Do"
                      : "Done"
                }}
              </span>
            </td>
            <td class="col-default">
              <span
                class="badge"
                [ngClass]="{
                  'badge-low': ticket.priority === 'LOW',
                  'badge-medium': ticket.priority === 'MEDIUM',
                  'badge-high': ticket.priority === 'HIGH',
                  'badge-urgent': ticket.priority === 'URGENT',
                }"
              >
                {{ ticket.priority | titlecase }}
              </span>
            </td>
            <td class="col-default">
              <app-user-icon [userName]="ticket.assignee.name"></app-user-icon>
            </td>
            <td
              class="col-default"
              [class.error-color]="isOverdue(ticket.dueDate)"
            >
              {{ formatDate(ticket.dueDate) }}
            </td>
            <td class="col-default">
              <div
                class="ticket-title hover:underline cursor-pointer"
                [routerLink]="['/projects', ticket.project.id]"
              >
                {{ ticket.project.title }}
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </section>
  <app-ticket-form
    [isInProject]="true"
    [isSlideInPanelOpen]="isSlideInPanelOpen"
    (ticketSlideInPanel)="closeTicketSlideInPanel()"
    (ticketEvent)="addTicket($event)"
  ></app-ticket-form>
</div>
