@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #4338ca;
}

body {
  background-color: #f7f9fb;
}

.primary-color {
  color: var(--primary-color);
}

.primary-btn {
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.primary-bg-color {
  background-color: #e0e7ff;
}

.pending-task-color {
  color: #7e3000;
}

.pending-task-bg-color {
  background-color: #ffdbcc;
}

.completed-task-color {
  color: #1e4620;
}

.completed-task-bg-color {
  background-color: #d4edda;
}
