<section
  class="w-full h-full flex flex-col bg-gray-50 border-r border-gray-200"
>
  <div class="p-4 border-b border-gray-200">
    <p class="text-xl font-bold text-gray-800">SprintIQ</p>
  </div>
  <div routerLink="/dashboard" routerLinkActive="bg-gray-200" class="flex items-center p-4 hover:bg-gray-100 cursor-pointer">
    <img src="" alt="" class="w-6 h-6 mr-3" />
    <p class="font-medium text-gray-800">Dashboard</p>
  </div>
  <div routerLink="/projects" routerLinkActive="bg-gray-200" class="flex items-center p-4 hover:bg-gray-100 cursor-pointer">
    <img src="" alt="" class="w-6 h-6 mr-3" />
    <p class="font-medium text-gray-800">Projects</p>
  </div>
  <div routerLink="/my-tasks" routerLinkActive="bg-gray-200" class="flex items-center p-4 hover:bg-gray-100 cursor-pointer">
    <img src="" alt="" class="w-6 h-6 mr-3" />
    <p class="font-medium text-gray-800">My Tasks</p>
  </div>
  <div routerLink="/settings" routerLinkActive="bg-gray-200" class="flex items-center p-4 hover:bg-gray-100 cursor-pointer mt-auto">
    <img src="" alt="" class="w-6 h-6 mr-3" />
    <p class="font-medium text-gray-800">Settings</p>
  </div>
</section>
